header {
    background-color: #061130;
    color: white;
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-between;
}

button {
    border-radius: 2rem;
    max-height: 2rem;
    margin-top: 0.7rem;
    color: white;
    background-color: #1c4bc4;
    font-weight: bold;
}

.header-options {
    margin-right: 3em;
    font-weight: bold;
}


main {
    background-color: #061130;
    display: flex;
    color: white;
    max-height: 40rem;
}

.main-h1 {
    max-width: 18rem;
}

.main-p {
    max-width: 18rem;
}

.yellow-service {
    color: #fafd61;
}

.main-text {
    padding: 14rem;
    padding-top: 5rem;
}

nav {
    color: white;
    display: flex;
    /* justify-content: space-between; */
    padding: 10px;
    margin-right: 1.5rem;
    /* margin: 10px; */

}

footer {
    background-color: white;
    justify-content: space-around;
}

.footer-align {
    justify-content: space-around;
}

.foot-1 {
    padding: 2.5rem;
    display: flex;
}

.foot-2 {
    background-color: #f4f6f8;
    padding: 1rem;
    text-align: center;
}


.logo {
    padding: 15px;
    margin-left: 1.5rem;
}


/* UTILITY CLASSES */

.d-flex {
    display: flex;
}

.justify-content-right {
    justify-content: right;
}

.align-items-center {
    align-items: center;
}

body {
    margin: 0;
}